# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

=======
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
/ProjetoJsf07 (cópia)/nbproject/private/
/ProjetoJsf08/nbproject/private/
/ProjetoJsf09/nbproject/private/
/ProjetoJsf09 (cópia)/nbproject/private/
/ProjetoJsf10/nbproject/private/
/ProjetoJsf10 (cópia)/nbproject/private/
/ProjetoJsf11/nbproject/private/
/ProjetoJsf11 (cópia)/nbproject/private/
/ProjetoJsf12/nbproject/private/
/ProjetoJsf12 (cópia)/nbproject/private/
/ProjetoJsf13/nbproject/private/
/ProjetoJsf13 (cópia)/nbproject/private/
/ProjetoJsf14/nbproject/private/
/ProjetoJsf15/nbproject/private/
/ProjetoJsf16/nbproject/private/
/ProjetoJsf17/nbproject/private/